<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Room</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Enter Room Name</ion-label>
        <ion-input type="text" [(ngModel)]="data.roomname" name="roomname" required=""></ion-input>
      </ion-item>
    </ion-list>
    <p>
      <ion-button expand="block" color="primary" (click)="addRoom()">Add</ion-button>
    </p>
  </form>
</ion-content> -->


<ion-header>
  <ion-toolbar color="primary">
    <ion-title>New chat</ion-title>
    <ion-buttons slot="start">
      <ion-button icon-only (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content main padding>
  <ion-list>
    <ion-item *ngFor="let user of users" (click)="chatWithUser(user.key)" lines='full'>
      {{user.name}}
    <ion-icon name="add" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>