<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>New Session</ion-title> -->
    <!-- <ion-buttons slot="start">
      <ion-button icon-only (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
	<ion-card> 
  	<ion-card-header>
  	  <ion-card-title>Mentor assessment</ion-card-title>
  	</ion-card-header>
  	
		<ion-card-content>
			<h2>
				4 sample situations have been provided below relating to issues encountered by students. For any 2 among these write a detailed passage, explaining to us what you believe is the current mental state of of the person, your approach towards them and how you'll be mentoring them (in text format).
				Note: UNX is not a replacement for psychologists, if you feel the person is in need of serious professional attention, encourage them to approach a doctor nearby.
			</h2>
	  </ion-card-content>
	</ion-card>

	<ion-row style='height: 5%;'></ion-row>

	<div *ngIf='card === 0'>
		<ion-item>
			<ion-grid no-padding>
				<div *ngFor='let message of chat0'>
					<div *ngIf='message.split(":")[0] === "UNX Mentor"; then mentorMsg; else userMsg'></div>
					<ng-template #mentorMsg>
						<ion-row justify-content-end>
							<ion-col class="mentor"  size=auto>
							<div class="mentorSent">{{message.split(":")[0]}}</div>
								{{message.split(":")[1]}}
							</ion-col>
						</ion-row>
					</ng-template>
					<ng-template #userMsg>
						<ion-row justify-content-start>
							<ion-col class="user">
							<div class="userSent">{{message.split(":")[0]}}</div>
								{{message.split(":")[1]}}
							</ion-col>
						</ion-row>
					</ng-template>
				</div>
			</ion-grid>
		</ion-item>
	
	<ion-row style='height: 5%;'></ion-row>
	
	<ion-card class="summary">
		<ion-card-title class="title">Example response</ion-card-title> 
		<ion-list>
			<h4>Summary:</h4>
			<div>{{exampleSummary}}</div>
			<h4>Approach:</h4>
			<div>{{exampleApproach}}</div>
			<h4>Mentoring:</h4>
			<div>Describe here in text format like above on how you'll address the specific case. It need not be as lengthy as the above sample. And provide an estimate on how long you'd need to complete the session</div>
		</ion-list>
	</ion-card>
	</div>



	<div *ngIf='card === 1'>
		<ion-item>
			<ion-grid no-padding>
				<div *ngFor='let message of chat1'>
					<div *ngIf='message.split(":")[0] === "UNX Mentor"; then mentorMsg; else userMsg'></div>
					<ng-template #mentorMsg>
						<ion-row justify-content-end>
							<ion-col class="mentor"  size=auto>
							<div class="mentorSent">{{message.split(":")[0]}}</div>
								{{message.split(":")[1]}}
							</ion-col>
						</ion-row>
					</ng-template>
					<ng-template #userMsg>
						<ion-row justify-content-start>
							<ion-col class="user">
							<div class="userSent">{{message.split(":")[0]}}</div>
								{{message.split(":")[1]}}
							</ion-col>
						</ion-row>
					</ng-template>
				</div>
			</ion-grid>
		</ion-item>
	
		<ion-row style='height: 5%;'></ion-row>
	
		<ion-card class="summary">
			<ion-card-title class="title">Your response</ion-card-title> 
			<ion-card-content class="response">
				{{response}}
			</ion-card-content>
			<ion-list>
				<h4>Summary:</h4><ion-textarea auto-grow=true autofocus=true rows=6 [(ngModel)]="response1.summary"></ion-textarea>
				<h4>Approach:</h4><ion-textarea auto-grow=true autofocus=true rows=6 [(ngModel)]="response1.approach"></ion-textarea>
				<h4>Mentoring:</h4><ion-textarea auto-grow=true autofocus=true rows=6 [(ngModel)]="response1.mentoring"></ion-textarea>
			</ion-list>
		</ion-card>
	</div>



	<div *ngIf='card === 2'>
		<ion-item>
			<ion-grid no-padding>
				<div *ngFor='let message of chat2'>
					<div *ngIf='message.split(":")[0] === "UNX Mentor"; then mentorMsg; else userMsg'></div>
					<ng-template #mentorMsg>
						<ion-row justify-content-end>
							<ion-col class="mentor"  size=auto>
							<div class="mentorSent">{{message.split(":")[0]}}</div>
								{{message.split(":")[1]}}
							</ion-col>
						</ion-row>
					</ng-template>
					<ng-template #userMsg>
						<ion-row justify-content-start>
							<ion-col class="user">
							<div class="userSent">{{message.split(":")[0]}}</div>
								{{message.split(":")[1]}}
							</ion-col>
						</ion-row>
					</ng-template>
				</div>
			</ion-grid>
		</ion-item>
	
		<ion-row style='height: 5%;'></ion-row>
	
		<ion-card class="summary">
			<ion-card-title class="title">Your response</ion-card-title> 			
			<ion-card-content class="response"> 				
				{{response}} 			
			</ion-card-content>		
			<ion-list>
				<h4>Summary:</h4><ion-textarea auto-grow=true autofocus=true rows=6 [(ngModel)]="response2.summary"></ion-textarea>
				<h4>Approach:</h4><ion-textarea auto-grow=true autofocus=true rows=6 [(ngModel)]="response2.approach"></ion-textarea>
				<h4>Mentoring:</h4><ion-textarea auto-grow=true autofocus=true rows=6 [(ngModel)]="response2.mentoring"></ion-textarea>
			</ion-list>
		</ion-card>
	</div>



	<div *ngIf='card === 3'>
		<ion-item>
			<ion-grid no-padding>
				<div *ngFor='let message of chat3'>
					<div *ngIf='message.split(":")[0] === "UNX Mentor"; then mentorMsg; else userMsg'></div>
					<ng-template #mentorMsg>
						<ion-row justify-content-end>
							<ion-col class="mentor"  size=auto>
							<div class="mentorSent">{{message.split(":")[0]}}</div>
								{{message.split(":")[1]}}
							</ion-col>
						</ion-row>
					</ng-template>
					<ng-template #userMsg>
						<ion-row justify-content-start>
							<ion-col class="user">
							<div class="userSent">{{message.split(":")[0]}}</div>
								{{message.split(":")[1]}}
							</ion-col>
						</ion-row>
					</ng-template>
				</div>
			</ion-grid>
		</ion-item>
	
		<ion-row style='height: 5%;'></ion-row>
	
		<ion-card class="summary">
			<ion-card-title class="title">Your response</ion-card-title>
			 		<ion-card-content class="response">
						{{response}}
					</ion-card-content>		
			<ion-list>
				<h4>Summary:</h4><ion-textarea auto-grow=true autofocus=true rows=6 [(ngModel)]="response3.summary"></ion-textarea>
				<h4>Approach:</h4><ion-textarea auto-grow=true autofocus=true rows=6 [(ngModel)]="response3.approach"></ion-textarea>
				<h4>Mentoring:</h4><ion-textarea auto-grow=true autofocus=true rows=6 [(ngModel)]="response3.mentoring"></ion-textarea>
			</ion-list>
		</ion-card>
	</div>



	<div *ngIf='card === 4'>
		<ion-item>
			<ion-grid no-padding>
				<div *ngFor='let message of chat4'>
					<div *ngIf='message.split(":")[0] === "UNX Mentor"; then mentorMsg; else userMsg'></div>
					<ng-template #mentorMsg>
						<ion-row justify-content-end>
							<ion-col class="mentor"  size=auto>
							<div class="mentorSent">{{message.split(":")[0]}}</div>
								{{message.split(":")[1]}}
							</ion-col>
						</ion-row>
					</ng-template>
					<ng-template #userMsg>
						<ion-row justify-content-start>
							<ion-col class="user">
							<div class="userSent">{{message.split(":")[0]}}</div>
								{{message.split(":")[1]}}
							</ion-col>
						</ion-row>
					</ng-template>
				</div>
			</ion-grid>
		</ion-item>
	
		<ion-row style='height: 5%;'></ion-row>
	
		<ion-card class="summary">
			<ion-card-title class="title">Your response</ion-card-title> 			
				<ion-card-content class="response"> 				
					{{response}} 			
				</ion-card-content>		
			<ion-list>
				<h4>Summary:</h4><ion-textarea auto-grow=true autofocus=true rows=6 [(ngModel)]="response4.summary"></ion-textarea>
				<h4>Approach:</h4><ion-textarea auto-grow=true autofocus=true rows=6 [(ngModel)]="response4.approach"></ion-textarea>
				<h4>Mentoring:</h4><ion-textarea auto-grow=true autofocus=true rows=6 [(ngModel)]="response4.mentoring"></ion-textarea>
			</ion-list>
		</ion-card>
	</div>

</ion-content>



<ion-fab *ngIf='card !== 4' vertical='center' horizontal='end' (click)='nextCard()'>
	<ion-fab-button size="small">
		<ion-icon name='arrow-forward'></ion-icon>
	</ion-fab-button>
</ion-fab>
<ion-fab *ngIf='card !== 0' vertical='center' horizontal='start' (click)='previousCard()'>
	<ion-fab-button size="small">
		<ion-icon name='arrow-back'></ion-icon>
	</ion-fab-button>
</ion-fab>

<ion-footer>
	<ion-toolbar colour>
		<ion-buttons slot="end">
			<ion-button fill=outline color=primary (click)="continue()">continue</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>
