<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{user2?.name}}</ion-title>
    <ion-buttons slot="start">
      <ion-button icon-only (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
		<ion-buttons *ngIf="currentUserState === 'admin' && mentorAdded === false" slot=end>
      <ion-button (click)="findAMentor()">Find a mentor
      </ion-button>
    </ion-buttons>
		<ion-buttons *ngIf="currentUserState === 'mentee' && chatType === 'admin' && mentorAdded === true" slot=end>
      <ion-button (click)="informMentee()">Connect
      </ion-button>
    </ion-buttons>
		<ion-buttons *ngIf="currentUserState === 'mentee' && chatType === 'mentor'" slot=end>
      <ion-button (click)="endSession()">End Session
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf='isloading === true; else showcontent'>
	<div class="loader">	
		<ion-spinner name=bubbles color=primary	></ion-spinner>
	</div>
</ion-content>
<ng-template #showcontent>
<ion-content no-padding>
  <!-- <ion-list class="chat-list">
    <ion-item *ngFor="let msg of messages" no-lines>
			<ion-item *ngIf="msg.senderId === user1.key;then sentMsgs else receivedMsgs"></ion-item>
			<ng-template #sentMsgs>
				<ion-item slot="end">
      		<ion-label text-wrap class="media-body">
      		  <div>{{msg.content}}</div>
						<small>{{msg.date | date: 'dd/MM HH:mm'}}</small>
      	  </ion-label>
      	  <tr>   
      	</ion-item>
			</ng-template>

      <ng-template #receivedMsgs>
				<ion-item slot="start">
      		<ion-label text-wrap class="media-body">
      		  <div>{{msg.content}}</div>
						<small>{{msg.date | date: 'dd/MM HH:mm'}}</small>
      	  </ion-label>
      	  <tr>   
      	</ion-item>
      </ng-template>
    </ion-item>
  </ion-list> -->

	<ion-item class='content'>
			<ion-grid no-padding>
				<div *ngFor="let msg of messages">
					<div *ngIf="msg.senderId === user1.key;then sentMsgs else receivedMsgs"></div>
					<ng-template #sentMsgs>
						<ion-row justify-content-end class='messagebox'>
							<ion-col class="sent" size=auto>
							<div class="sentUser">{{user1.name}}</div>
								{{msg.content}}
							</ion-col>
						</ion-row>
					</ng-template>
					<ng-template #receivedMsgs>
						<ion-row justify-content-start class='messagebox'>
							<ion-col class="received" size=auto>
							<div class="receivedUser">{{user2.name}}</div>
								{{msg.content}}
							</ion-col>
						</ion-row>
					</ng-template>
				</div>
			</ion-grid>
		</ion-item>



</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input #inputElement type="text" placeholder="Type a message" autofocus=true [(ngModel)]="chatMessage" name="message"></ion-input>
    <ion-buttons slot="end">
      <ion-button slot="end" color="primary" (click)="sendMessage(chatMessage)">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
</ng-template>