<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Feedback</ion-title>
    <ion-buttons slot="start">
      <ion-button icon-only (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding> 
	<ion-list>
		<ion-item>
		<h3>How was your session with {{mentorName}}?</h3>
		</ion-item>
		<ion-item style="justify-content: center">
		<rating [(ngModel)]="rate"
  	  readonly="false"
  	  size="default"
  	  (ngModelChange)="onModelChange()">
		</rating>
		</ion-item>
	</ion-list>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-buttons slot=end>
			<ion-button color="primary" type="button" (click)="submit()">Mentor</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>