<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Feedback</ion-title>
    <ion-buttons slot="start">
      <ion-button icon-only (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding> 
	<ion-list>
		<div style="justify-content: center; margin: 5%">
			<h3>How was your session with {{mentorName}}?</h3>
		</div>
		<div style="justify-content: center">
			<rating [(ngModel)]="rate"
  		  readonly="false"
  		  size="default"
  		  (ngModelChange)="onModelChange()">
			</rating>
		</div>
		<ion-item>
			<ion-input [(ngModel)]=comment placeholder="Add a comment"></ion-input>
		</ion-item>

	</ion-list>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-buttons slot=end>
			<ion-button color="primary" type="button" (click)="submit()">Submit</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>