<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button icon-only href="/signin">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>SignUp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form>
      <ion-list>
        <ion-item>
          <ion-label position="floating" color='primary'>E-mail</ion-label>
          <ion-input type="text" [(ngModel)]="data.email" name="email" required=1></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color='primary'>Password</ion-label>
          <ion-input type="text" [(ngModel)]="data.password" name="password" required></ion-input>
        </ion-item>
				<ion-item>
          <ion-label position="floating" color='primary'>Confirm password</ion-label>
          <ion-input type="text" [(ngModel)]="data.confirm" name="confirm" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color='primary'>Username</ion-label>
          <ion-input type="text" [(ngModel)]="data.username" name="username" required></ion-input>
        </ion-item>
		
      </ion-list>
      <p>
        <ion-button expand="block" color="primary" type="button" (click)="signUp()">Sign Up</ion-button>
      </p>
    </form>
  </ion-content>