<!-- <ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-title>New Session</ion-title> -->
    <!-- <ion-buttons slot="start">
      <ion-button icon-only (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
	<ion-card> 
  <ion-card-header>
    <ion-card-title>Mentor assessment</ion-card-title>
  </ion-card-header>

  	<ion-card-content><h2>
			4 sample situations have been provided below relating to issues encountered by students. For any 2 among these write a detailed passage, explaining to us what you believe is the current mental state of of the person, your approach towards them and how you'll be mentoring them (in text format).
			Note: UNX is not a replacement for psychologists, if you feel the person is in need of serious professional attention, encourage them to approach a doctor nearby.</h2>
	  </ion-card-content>
	</ion-card>
	<ion-row style='height: 5%;'></ion-row>
		<ion-item>
			<ion-grid no-padding>
    <ion-row justify-content-start><ion-col class="mentor">Hi User (nick name), I'm Sakshi (your preferred mentor nickname), I'm here to help you figure out things that maybe troubling you like your career, relationships, health... we can start by identifying these things first, tell me things you have doubts about</ion-col></ion-row>
		<ion-row justify-content-end><ion-col class="user"  size=auto>Hi Coach! I'm mainly concerned about my career path right now</ion-col></ion-row>
		<ion-row justify-content-start><ion-col class="mentor">Ok, tell me a bit about your academic background. And what are you looking for in terms of prospects</ion-col></ion-row>
		<ion-row justify-content-end><ion-col class="user"  size=auto>I'm currently an electrical engineering student, but I'm not exactly passionate about my current stream. I'm not sure which direction to head in as I didn't have proper exposure to a lot of areas</ion-col></ion-row>
		<ion-row justify-content-start><ion-col class="mentor">What year are you in now?</ion-col></ion-row>
		<ion-row justify-content-end><ion-col class="user"  size=auto>Going into third year</ion-col></ion-row>
		<ion-row justify-content-start><ion-col class="mentor">You've time there's no urgency to decide something at this point, being confused in college is good it also means you're thinking of different things from various angles. Have you done any internships?</ion-col></ion-row>
		<ion-row justify-content-end><ion-col class="user"  size=auto>Not yet, I'm not sure I want to be pursuing a career in electrical</ion-col></ion-row>
		<ion-row justify-content-start><ion-col class="mentor">That's fine, you don't have to restrict yourself to electrical. Internships are useful more so to understand the atmosphere and the people you'll be working with, no need to stick to electrical alone. Are there any profs in your college whose work interests you?</ion-col></ion-row>
		<ion-row justify-content-end><ion-col class="user"  size=auto>Research seems like something I'd be interested in, and I'm more interested in CS than electrical, but again, I don't know what area specifically, and I haven't had any experience in research either</ion-col></ion-row>
		<ion-row justify-content-start><ion-col class="mentor">Ok so let's start there then. I want you to lookup the people in your college who're doing work related to CS and see if you like something. Just go to their labs, see their posters, talk to their students, talk to the PI if possible</ion-col></ion-row>
		<ion-row justify-content-end><ion-col class="user"  size=auto>Not particularly. I seem to interesting in everything at the surface level</ion-col></ion-row>
		<ion-row justify-content-start><ion-col class="mentor">See you make decisions based on available information, you cannot predict the future. For now you're feeling that research may suit you so you should try it. You don't have to restrict yourself to your college either. Faculty at IISc and other places are quite approachable and interning there will be a valuable experience and good for your cv. Lookup their website and see their work and read some papers they've published. Shoot them a nice mail they do respond. Thing is you'll have to plan a bit in advance if you want to do summer or winter internships as there'll be many constraints they'll need to consider.  You've to start somewhere, surface level interest is still interest. Rome wasn't built in a day.</ion-col></ion-row>
		<ion-row justify-content-end><ion-col class="user"  size=auto>I don't have much experience in CS, or EEE either, actually. It feels like a shot in the dark approaching them</ion-col></ion-row>
		<ion-row justify-content-start><ion-col class="mentor">You don't have much to lose at this point. You haven't established yourself, you're still a student who's exploring things. Don't worry, you're just trying things out, if they work great if not there are other things to try</ion-col></ion-row>
		<ion-row justify-content-end><ion-col class="user"  size=auto>And I'm very indecisive about which area to focus on. Like I said, everything seems interesting at this point</ion-col></ion-row>
		<ion-row justify-content-start><ion-col class="mentor">That's precisely why I'm telling you to intern in a lab. Once you're there you'll learn a lot of things and get to know what you like and what you'd want to focus on at the very least you can cross off some things saying they don't suit you</ion-col></ion-row>
		<ion-row justify-content-end><ion-col class="user"  size=auto>That does make sense. There's also pressure of having to get a "conventional" job that I'm not sure how to deal with. I'm not saying I hate it, but I'm not sure I'll like it either</ion-col></ion-row>
		<ion-row justify-content-start><ion-col class="mentor">Take things 1 step at a time. It's ok to do trial and error, it's your life no one's going to live it for you. There are no perfect answers. Take risks, you're young, you've some security nets that you can fall back on. At this point as you said it is a shot in the dark but once you go there you'll light it up, then you can make a call whether you want to continue there or change</ion-col></ion-row>
		<ion-row justify-content-end><ion-col class="user"  size=auto>Yes, I'll look into it. It just felt like there were too many options at this point</ion-col></ion-row>
		<ion-row justify-content-start><ion-col class="mentor">Yes it can be overwhelming. Start small, lookup the work that people are doing in your college for now. It's close by and you can talk to them in person. Even if you find 10 things you don't like that is 10 options less. Let's start there. If you end up feeling that you're liking everything, go to some other department maybe like biotech and you may not like it there. Among the things you like join one of the labs. Once you're inside in few months you'll figure out what's what and you can switch and make a more informed choice</ion-col></ion-row>
		<ion-row justify-content-end><ion-col class="user"  size=auto>I don't know if I'll have the time to do all that, I mean I'm already done with half my college life, but you're absolutely right about starting somewhere</ion-col></ion-row>
		<ion-row justify-content-start><ion-col class="mentor">Tbh now is the right time to start looking up things. In the first 2 years you wouldn't have finished the required coursework and taking rest and having fun is equally important. Look them up and let me know what you find, timings and all are secondary concerns. 1 step at a time</ion-col></ion-row>
		<ion-row justify-content-end><ion-col class="user"  size=auto>Alright, that sounds good. Thank you!</ion-col></ion-row>
		<ion-row justify-content-start><ion-col class="mentor">It was my pleasure. Let me know if you need any help again, just contact the unx team. We're just starting out so let you friends and family know about us too. Good luck, take care.</ion-col></ion-row>
			</ion-grid>
		</ion-item>
		<ion-row style='height: 5%;'></ion-row>
		<ion-card-content>
		<ion-item> <ion-textarea readonly=true auto-grow=true rows=8 value="Summary:
The user's mental state is good, there's no need of medical intervention. The student is uncertain about career choices in his future, needs guidance to figure out his options and explore his interests.
Approach:
Understand background of the user. Flesh out the problem and figure out what is needed. Suggest possible solutions and ways to tackle the problem; break it into smaller pieces and take iy one step a time. Suggest possible places or media to explore (if relevant). End on a positive note, complimenting on how the user has made progress and summarize. Encourage user to come back for further sessions and spread the word about UNX.

Mentoring:
Describe here in text format like above on how you'll address the specific case. It need not be as lengthy as the above sample. And provide an estimate on how long you'd need to complete the session.">
			<!-- <ion-textarea read-only> -->
				</ion-textarea>
			<!-- </ion-textarea> -->
		</ion-item>
		</ion-card-content>
 <!-- 
</ion-card><ion-col class="mentor">  -->
</ion-content>
