<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Change Password</ion-title>
    <ion-buttons slot="start">
      <ion-button icon-only (click)="goBack()">
        <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
      </ion-button>
    </ion-buttons>
		<ion-buttons slot="end">
      <ion-button (click)="save()">
        <!-- <ion-icon name="arrow-back" (click)="goBack()"></ion-icon> -->
				Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-list>
	  <ion-item>
	   	<ion-input type='text' placeholder='Current password' [(ngModel)]='old' name='old'></ion-input>
	  </ion-item>
	</ion-list>
	
	<ion-list>
	  <ion-item>
	   	<ion-input type='text' placeholder='New password' [(ngModel)]='newpw' name='newpw'></ion-input>
	  </ion-item>
	</ion-list>

	<ion-list>
	  <ion-item>
	   	<ion-input type='text' placeholder='Confirm new password' [(ngModel)]='confirm' name='confirm'></ion-input>
	  </ion-item>
	</ion-list>

</ion-content>