<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Account Settings</ion-title>
    <ion-buttons slot="start">
      <ion-button icon-only (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<!-- 	<ion-list>
		<ion-item>
			<ion-header>NAME</ion-header>
			<ion-item>
				<ion-label>{{currentUser.name}}</ion-label>
				<ion-icon name='create' slot='end' colour='primary'></ion-icon>
			</ion-item>
		</ion-item>
	</ion-list> -->

</ion-content>
