<ion-header>
  <ion-toolbar color="primary">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-button icon-only (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding> 
	<div>
		<h2>You are connected to {{mentorName}}</h2>
		<ion-item>
			{{mentorRating}}
			<ion-icon name='star'>
			</ion-icon>
		</ion-item>
	</div>
	<h3>Background: </h3>
			{{mentorBg}}
</ion-content>
